<div class="profile-container">
  <h3 class="profile-name"><%= @user.name %></h3>
  <%= image_tag("") %>
  <% if @user.id == current_user.id %>
    <p><%= link_to "*", edit_user_path(@user) %></p>
  <% end %>
</div>

<h1>Books</h1>
<% @books.each do |book| %>
  <div>
    <%= link_to book.title, book_path(book.id) %>
    <%= book.body %>
  </div>
<% end %>

