<div class="row">
  <div class="mx-auto pt-3">
  <h1>Editing Book</h1>
  <%= form_with model:@book, local:true do |f| %>
  <% if @book.errors.any? %>
    <h4 class="error"><%= pluralize(@book.errors.count, "error") %> prohidited this product from being saved:</h4>
    <ul class="error pl-5">
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
    <h4>Title</h4>
    <%= f.text_field :title, class: "field" %>
    <h4>Opinion</h4>
    <%= f.text_area :body, class: "field" %>
    <%= f.submit "Update Book", class: "btn btn-success mt-2" %>
  <% end %>
  <p class="mt-4"><%= link_to "Show", book_path(@book.id) %> | <%= link_to "Back", books_path %></p>
  </div>
</div>